body{
    background-color: #1C1D27;
}
.header{
    width: 30%;
    height: 100%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    border: 4px #F5F2F1 solid;
    background-color: #F5F2F1;
    box-shadow: 2px 2px #F5F2F1;
    border-radius: 28px;
}
.camp{
    width: 70%;
    margin-left: 30%;
    text-align: center;
    box-sizing: border-box;
}
h1{
    
    text-shadow: 1px 1px #B9A1AA;
    font-size: 50px;
    color: #CA3C68;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    margin: 2em;
    margin-left: auto;
    display: inline-block;
    color: #CA3C68;
    background-color: #F5F2F1;
    border: 1px solid #CA3C68;
    padding: 14px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: bolder;
}
.result{
    text-align: center;
    color: black;
    font-size: 20px;
    border:4px #CA3C68 solid;
    width: 300px;
    border-radius: 10px;
    margin-left: 21%;
    padding: 10px;

}

.status{
    color: #000000;
    background-color: #F5F2F1;
    text-align: center;
    transition: color .2 linear;
    border-radius: 18px;
    margin-left: 32%;
    margin-bottom: 10px;
    height: 100px;
    width: 480px;
    box-sizing: border-box;
}
.timer, .bomb-qtd{
    font-size: 35px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bolder;
}
.timer{
    width: 200px;
}
.bomb-qtd{
    width: 100px;
    box-sizing: border-box;
}
.button:hover{
    transform: scale(1.2);
    color: #F5F2F1;
    background-color: #CA3C68;
}
.start{
    color: #F5F2F1;
    background-color: #CA3C68;
}
.best-time{
    font-size: 25px;
    margin-top: 5em;
}
.place{
    text-align: left;
    margin-left: 40%;
}