table button{
    display: block;
    color: rgba(0, 0, 0, 0);
    width: 45px;
    height: 45px;
    border-radius: 8px;
}
table button:hover{
    transform: scale(1.10);
}
button{
    transition: color .2 linear;
}
.zero,.one,.two,.three,.four,.five,.six,.seven,.eight, .question{
    background-color: #363636;
    font-weight: bolder;
    font-size: 25px;
    transform: none;
    box-sizing: border-box;
}
.eight{
    color: gray;
}
.seven{
    color: blueviolet;
}
.six{
    color: darkturquoise;
}
.five{
    color: yellow;
}
.four{
    color: blueviolet;
}
.three{
    color:crimson;
}
.two{
    color: green;
}
.one{
    color: blue;
}
.zero{
    color: rgba(0, 0, 0, 0);
}
.question{
    color: black;
    font-size: 35px;
    font-family: cursive;
    background-color: white;
}