.field{
    color: white;
}
.eight{
    color: gray;
    background-color: #363636;
    font-weight: bolder;
}
.seven{
    color: blueviolet;
    background-color: #363636;
    font-weight: bolder;
}
.six{
    color: darkturquoise;
    background-color: #363636;
    font-weight: bolder;
}
.five{
    color: yellow;
    background-color: #363636;
    font-weight: bolder;
}
.four{
    color: blueviolet;
    background-color: #363636;
    font-weight: bolder;
}
.three{
    color:crimson;
    background-color: #363636;
    font-weight: bolder;
}
.two{
    color: green;
    background-color: #363636;
    font-weight: bolder;
}
.one{
    color: blue;
    background-color: #363636;
    font-weight: bolder;
}
.zero{
    color: rgba(0, 0, 0, 0);
    background-color: #363636;
}